@import '../../theme/variables.scss';

.tweak {
    display: flex;
    font-family: $basic_font;
    font-size: 1.3em;
    align-items: flex-start;
    flex-direction: column;
    width: 640px;
    position: absolute;
    top: 40%;
    left: 4%;
    .container {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 10px;
        input {
            width: 20%;
        }
    }
    button {
        cursor: pointer;
        color: $red;
        font-family: $basic_font;
        font-size: 1em;
        background-color: $white;
        border: 1px solid $red;
        border-radius: 5px;
        margin-top: 20px;
        width: 50%;
        &:hover {
            color: $white;
            background-color: $red;
            border: none;
        }
    }
}